{% extends "global/base.html" %}

{% block title %} Dashboard Recipe | {% endblock title %}

{% block content %}

    <div class="main-content container center">
        <h2 class='mt-medium'> Dashboard Recipe</h2>
        {% include "global/partials/messages.html" %}
        <div>
            <a href="{% url "authors:dashboard_clean_new_recipe" %}">Back to your recipes</a>
        </div>
        <div class="left">
            {% include "global/partials/form.html" %}
        </div>
        
    </div>

{% endblock content %}