{% extends "global/base.html" %}
{% load i18n %}

{% block title %} Dashboard | {% endblock title %}

{% block content %}

    <div class="main-content container center">
        <h2 class='mt-medium'> Dashboard</h2>
        {% include "global/partials/messages.html" %}
        <div>
            <a href="{% url "authors:dashboard" %}">{% translate "Back to your recipes" %}</a>
        </div>
        <div class="left">
            {% include "global/partials/form.html" %}
        </div>
        
    </div>

{% endblock content %} 