{% extends "global/base.html" %}

{% block title %} Dashboard {{ user }} | {% endblock title %}

{% block content %}

    <div class="main-content container center">
        <h2 class='mt-medium'> Dashboard {{ user }}</h2>

        {% include "global/partials/messages.html" %}

        <form action="{% url "authors:logout" %}" method='POST'>
            {% csrf_token %}
            <input type="hidden" name="username" value="{{request.user.username}}">
            <button class="plaintext-button" type="submit">Click here to Logout</button>
        </form>
        
        <div class='authors-dashboard-container'>
            <h3>Your Recipes</h3>
            <ul>
                {% for recipe in recipes %}
                    <li>
                        <a href="#"> {{ recipe }}</a>
                    </li>
                {%empty%}
                    You don't have unpublished recipes.
                {% endfor %}
            </ul>
        </div>

    </div>

{% endblock content %}