{% extends "global/base.html" %}

{% load i18n %}


{% block title %}Login | {% endblock title %}

{% block content %}



    <div class="main-content container center">
    {% include "global/partials/messages.html" %}

        <h2 class="mt-medium mb-medium">Login</h2>

        {% if request.user.is_authenticated %}
            <p>{% translate "You are logged in as" %} {{request.user.first_name}}</p>
            <div class="container logedin-menu">
                <a href="{% url "recipes:home" %}">{% translate "Home" %}</a>
                <a href="{% url "authors:dashboard" %}">{% translate "Dashboard" %}</a>
                {% if request.user.profile %}
                <a href="{% url "authors:profile" request.user.profile.id %}">{% translate "Profile" %}</a>
                {% endif %}            
            </div>


        {% else %}
        
            {% include "global/partials/form.html" %}

        {% endif %}
    </div>


{% endblock content %}