:root {
    --color-primary: #269fe6;
    --color-primary-hover: #2086c2;
    --color-primary-dark: #13141f;
    --color-primary-dark-hover: #212336;
    --color-primary-light: #d4ecfa;
    --color-primary-light-hover: #bdd8e7;

    --color-white: #fff;
    --color-black: #000;

    --color-dark-text: #444;
    --color-info-light: #cce5ff;
    --color-debug-light: #cce5ff;
    --color-success-light: #d4edda;
    --color-alert-light: #fff3cd;
    --color-warning-light: #fff3cd;
    --color-error-light: #f8d7da;

    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;

    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;
    --color-gray-4: #959595;
    --color-gray-5: #7d7d7d;
    --color-gray-6: #646464;
    --color-gray-7: #4b4b4b;
    --color-gray-8: #323232;
    --color-gray-9: #191919;

    --color-red: red;
    --color-darkred: darkred;

    --font-primary: sans-serif;
    --font-headings: 'Roboto Slab', serif;

    --spacing-gutter-medium: 3rem;
    --spacing-gutter-large: 4rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-primary);
    background-color: var(--color-gray-1);
    color: var(--color-dark-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-headings);
}

img {
    max-width: 100%;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

.main-header-container {
    background: var(--color-primary-dark)
}

.container {
    max-width: 144rem;
    margin: 0 auto;
    padding: var(--spacing-gutter-medium);
}

.main-logo {
    font-size: 4rem;
    color: var(--color-white);
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}

.main-logo-icon {
    margin-right: 2rem;
}

.search-form {
    position: relative;
    border: .2rem solid var(--color-primary-dark);
    max-width: 64rem;
    margin: 0 auto;
    border-radius: .4rem;
    transition: all 300ms ease-in-out;
}

.search-input,
.search-button {
    border: none;
    background: none;
    outline: none;
    padding: 1rem;
    transition: all 300ms ease-in-out;

}

.search-button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;

}

.search-input {
    width: 100%;
    padding-right: 3rem;
}

.search-form:focus-within {
    border-color: var(--color-primary);
    background-color: var(--color-white);
}

.search-button:hover,
.search-form:focus-within .search-button {
    color: var(--color-primary);
}

.search-button:hover,
.search-button:focus {
    font-size: 1.8rem;

}

.main-content {
    padding-top: 0;
}

.main-content-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: var(--spacing-gutter-large);
}

.recipe {
    background: var(--color-white);
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: all 300ms ease-in-out;
    border-radius: .8rem;
    overflow: hidden;

}

.recipe img {
    max-width: 100%;
}

.recipe-list-item {
    max-width: 64rem;
    height: fit-content;
}

.recipe-list-item:hover {
    transform: scale(1.02);
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.6);

}

.recipe-title-container {
    padding: var(--spacing-gutter-medium);
    padding-bottom: calc(var(--spacing-gutter-medium) / 1.5);
}

.recipe-title-container a {
    text-decoration: none;
    color: var(--color-primary-dark);
}

.recipe-author {
    padding: 0 var(--spacing-gutter-medium);
}

.recipe-author a {
    color: var(--color-primary-dark);
    text-decoration: none;
    transition: all 200ms ease-in-out;
}

.recipe-author a:hover {
    color: var(--color-primary);
}

.recipe-author-item {
    color: var(--color-gray-4);
    margin-right: 1rem;
    font-size: 1.4rem;
}

.recipe-content {
    padding: var(--spacing-gutter-medium);
    padding-top: calc(var(--spacing-gutter-medium) / 1.5);
}

.recipe-meta-container {
    display: flex;
    flex-flow: row wrap;
    padding: var(--spacing-gutter-medium);
    background-color: var(--color-gray-1);
}

.recipe-meta {
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 1;
    flex-grow: 1;
    text-align: center;
}

.recipe-meta-title {
    font-size: 1.6rem;
}

.preparation-steps {
    padding: var(--spacing-gutter-medium);
}

.recipe-footer a {
    background: var(--color-primary-dark);
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    color: var(--color-white);
    text-decoration: none;
    justify-content: center;
    padding: calc(var(--spacing-gutter-medium)/2);
    transition: all 300ms ease-in-out;
}

.recipe-footer a:hover {
    background: var(--color-primary);
    color: var(--color-primary-dark);
}

.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-primary-dark);
    color: var(--color-white);
    padding: var(--spacing-gutter-medium);
}

.main-footer a {
    color: var(--color-white);
    text-decoration: none;
    transition: all 200ms ease-in-out;
}

.main-footer a:hover {
    color: var(--color-primary);
}

.main-content-detail .recipe-list-item {
    max-width: 84rem;
    margin: 0 auto;
}

.main-content-detail .recipe-list-item:hover {
    transform: scale(1);
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);

}

.preparation-steps h1,
.preparation-steps h2,
.preparation-steps h3,
.preparation-steps h4,
.preparation-steps h5,
.preparation-steps h6,
.preparation-steps p,
.preparation-steps pre {
    margin: 2rem 0;
}

.preparation-steps ol,
.preparation-steps ul {
    margin: 3rem;
}

.pagination-content {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem 1rem;
    justify-content: center;
}

.pagination .page_item {
    background-color: var(--color-gray-3);
    padding: 0.5rem 1rem;
    border-radius: .4rem;

}

.pagination .page-link {
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-white);
}

.pagination .current-page {
    background-color: var(--color-primary-dark);
}

/* Forms */

.form-content {
    max-width: 64rem;
    margin: 0 auto;
    margin-bottom: var(--spacing-gutter-medium);
}

.form-content label,
.errorlist {
    display: block;
    margin: 0.5rem 0;
    font-size: 1.4rem;
    list-style: none;
}

.form-content .help-text {
    display: block;
    margin: 0.5rem 0;
    font-size: 1.2rem;
    list-style: none;
}


.errorlist {
    color: var(--color-error-dark);
}

.form-content select,
.form-content textarea,
.form-content input {
    width: 100%;
    padding: 1rem;
    border-radius: .4rem;
    border: 1px solid var(--color-primary-dark);
}

.form-content button {
    padding: 1rem 2rem;
    border: none;
    background-color: var(--color-primary-dark);
    color: var(--color-white);
    cursor: pointer;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: all ease-in-out 200ms;

}

.form-content button:hover {
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.6);

}

.form-content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: calc(var(--spacing-gutter-medium)/2) var(--spacing-gutter-medium);
}

.inline-form {
    display: inline-block;
}

.inline-form .plaintext-button {
    color: var(--color-red);
    font-size: 1.8rem;
}

.inline-form .plaintext-button:hover {
    color: var(--color-darkred);
}

.span-2 {
    grid-column: span 2;
}

.plaintext-button {
    display: inline;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--color-primary);
    transition: all ease-in-out 300ms;
}

.plaintext-button:hover {
    transform: scale(1.05);
}

/* DASHBOARD */

.authors-dashboard-container {
    max-width: 64rem;
    padding: var(--spacing-gutter-medium);
    text-align: left;
    margin: auto;
}

.authors-dashboard-container h3,
.authors-dashboard-container ul,
.authors-dashboard-container p {
    list-style: none;
    margin: 1rem 0
}

.authors-dashboard-list {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.authors-dashboard-list-item {
    display: flex;
    gap: 0.6rem;
}

.authors-dashboard-list-item a:hover {
    text-decoration: underline;

}

/* Messages */

.messages-container {
    display: flex;
    flex-flow: column wrap;
    gap: calc(var(--spacing-gutter-medium)/2);
}

.message {
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid var(--color-dark-text);
    background: var(--color-gray-2);
    color: var(--color-dark-text);
    text-align: center;
    margin-top: var(--spacing-gutter-medium);

}

.message-error {
    border: 1px solid var(--color-error-dark);
    background: var(--color-error-light);
    color: var(--color-error-dark);
}

.message-success {
    border: 1px solid var(--color-success-dark);
    background: var(--color-success-light);
    color: var(--color-success-dark);
}

.message-warning {
    border: 1px solid var(--color-warning-dark);
    background: var(--color-warning-light);
    color: var(--color-warning-dark);
}


.message-info {
    border: 1px solid var(--color-info-dark);
    background: var(--color-info-light);
    color: var(--color-info-dark);
}

.message-debug {
    border: 1px solid var(--color-debug-dark);
    background: var(--color-debug-light);
    color: var(--color-debug-dark);
}

/* TAG-STYLES */
.tag-container {
    background: var(--color-gray-1);
}

.tag-link {
    background-color: var(--color-gray-0);
    padding: 0.6rem;
    border-radius: 12px;
    border: solid black 1px;
}

.tag-link:hover {
    transition: all ease-in-out 300ms;
    color: var(--color-primary-dark-hover);
    background-color: var(--color-primary-light);

}

.tags-list {
    display: inline-flex;
    gap: 8px;
}

/* Generics */

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.mr-small {
    margin-right: 0.7rem;
}

.mt-medium {
    margin-top: var(--spacing-gutter-medium);
}

.mb-medium {
    margin-bottom: var(--spacing-gutter-medium);
}

.hidden-text {
    display: none;
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 260px;
    min-height: 100vh;
    overflow-y: auto;
    background: var(--color-primary);
    z-index: 2;
    transition: all 300ms ease-in-out;
}

.menu-container a {
    color: var(--color-white);
}



.menu-hidden {
    left: -255px;
}

.button-show-menu {
    position: fixed;
    left: 265px;
    top: 2rem;
    color: var(--color-white);
    background-color: var(--color-primary);
    border: none;
    font-size: 2rem;
    z-index: 3;
    padding: 1rem;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease-in-out;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.menu-container a:hover,
.button-show-menu:hover,
.button-close-menu:hover {
    color: var(--color-gray-5);
    transition: all ease-in-out 300ms;

}

.button-show-menu-visible {
    visibility: visible;
    opacity: 1;
    left: 5px;
}

.button-close-menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--color-white);
    background: none;
    border: none;
    font-size: 2rem;
    z-index: 3;
    cursor: pointer;
}

.menu-nav {
    display: flex;
    flex-flow: column wrap;
    font-family: var(--font-headings);
    font-size: 2rem;
}

.menu-nav a {
    width: 100%;
    padding: 1rem;
}

@media (max-width: 420px) {

    .main-content-list,
    .form-content-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        gap: var(--spacing-gutter-large);
    }
}